# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*~

# Environment variables
.env
.env.local

# Logs
*.log
logs/

# Temporary files
*.tmp
*.temp
tmp/
temp/

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml

